iframe {
    width: 100%;
    height: 100%;
}

.sketchfab-embed-wrapper {
    width: 480px;
    height: 480px;
    margin: 5vh 5vh;
    @media only screen and (max-width: 1024px) {
        width: 300px;
        height: 300px;
    }
}

.cell {
    display: inline-flex;
    @media only screen and (max-width: 1024px) {
        display: initial;
    }
}
.t1 {
    max-width: 850px;
    margin: 5vh 0;
    @media only screen and (max-width: 1024px) {
        margin: 5vh 4vh;
    }
}

body{
    overflow-x: hidden;
    touch-action: pan-y;
}

