.text {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    margin: 3vh;
    color: rgb(106, 162, 209);
    @media only screen and (max-width: 1024px) {
        font-size: 25px;
    }
}

.f1 {
    background-color: #d0d6b567;
    height: 60px;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    padding: 5vh 7vh;
    .r1 {
        width: 50%;
    }


    .r2{
        width: 50%;
    }
}

h1 {
    font-size: 25px;
}
