* {
  margin: 0;
  padding: 0;
}

body{
    overflow-x: hidden;
    touch-action: pan-y;
}


.part1 {
  display: inline-flex;
  flex-direction: row;
  height: auto;
  background-color: #e2efde;
  @media only screen and (max-width: 1024px) {
    display: initial;
  }

  .first {
    width: 50%;
    height: auto;
    padding: 20vh 3vh;
    justify-content: center;
    @media only screen and (max-width: 1024px) {
      padding: 0;
      width: 100%;
    }

    .content {
      height: auto;
      margin: 10px 10vh;
      display: flex;
      flex-direction: row;
      gap: 5vh;
      justify-content: center;
      @media only screen and (max-width: 1024px) {
        margin: 20px 7.5vh;
        flex-direction: column;
      }

      h1 {
        font-size: 20px;
        font-weight: 500;
        text-align: center;
        margin: 30px 0;
        width: 100%;
        @media only screen and (max-width: 1024px) {
          margin: 0;
        }
      }

      ul {
        justify-self: center;
        list-style-type: none;
        margin: 30px;
        width: 100%;
        @media only screen and (max-width: 1024px) {
          margin: 0;
        }
      }

      li {
        text-decoration: none;
        text-align: center;
        font-size: 18px;
      }

      .r1 {
        justify-content: center;
        width: 50%;
        color: #00678e;
        @media only screen and (max-width: 1024px) {
          width: 100%;
        }

        > .ugh1 {
          margin-left: 5vh;
          @media only screen and (max-width: 1024px) {
            max-width: 100%;
            margin-left: 0;
            margin-bottom: 2vh;
            margin-top: 5vh;
          }
        }

        > .ugh {
          margin-top: 35px;
          @media only screen and (max-width: 1024px) {
            margin: 0;
          }
        }
      }

      .r2 {
        justify-content: center;
        width: 50%;
        color: #00678e;
        @media only screen and (max-width: 1024px) {
          width: 100%;
        }

        > .ugh2 {
          margin: 20px 25px 0;
          @media only screen and (max-width: 1024px) {
            margin: 0;
            margin-bottom: 2vh;

          }
        }

        > .ugh3 {
          margin-bottom: 15px;
          @media only screen and (max-width: 1024px) {
            margin: 0;
          }
        }
      }
    }
  }

  .second {
    width: 50%;
    @media only screen and (max-width: 1024px) {
      width: auto;
    }

    img {
      width: 90%;
      height: auto;
      padding: 5vh 20px;
    }
  }
}

.part2 {
  padding: 6vh 0;
  justify-content: center;

  p {
    height: auto;
    width: 40%;
    text-align: center;
    line-height: 2;
    font-size: 18px;
    margin: auto;
    padding: 4vh;
    color: #00678e;
    @media only screen and (max-width: 1024px) {
      height: auto;
      width: 80%;
    }
  }
}

.part3 {
  height: auto;
  display: inline-flex;
  flex-direction: row;
  margin: 2vh 0;
  background-color: #e2efdeb7;
  gap: 2vh;
  justify-content: center;
  border-bottom: 2px solid #0b3c49bb;
  @media only screen and (max-width: 1024px) {
    flex-direction: column;
  }

  > .img2 {
    width: 50%;
    margin: 8vh 0 8vh 5vh;
  @media only screen and (max-width: 1024px) {
    margin: 2vh 3vh;
  }

    img {
      width: 98vh;
      @media only screen and (max-width: 1024px) {
        width: 50vh;
      }
    }
  }

  .slide4 {
    height: 64vh;
    padding-right: 3vh;
    @media only screen and (max-width: 1024px) {
    height: auto;
    }

    p {
      width: 90%;
      text-align: center;
      line-height: 2;
      font-size: 18px;
      margin: 30px;
      color: #00678e;
      padding: 10px;
    }
  }
}
